<!-- Course Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                </div>
            </div>
            <div class="centered-block">
                <h4> 
                    University of California, Berkeley
                </h4>
                <h5>
                    Ph.D. in Electrical Engineering and Computer Sciences '21, 
                    <br>
                    M.S. in Electrical Engineering and Computer Sciences '21, 
                    <br>
                    GPA: 4.0/4.0
                </h5>
            </div>
            <div class="centered-block">
                <h4> 
                    Carnegie Mellon University
                </h4>
                <h5>
                    M.S. in Machine Learning '18, GPA: 4.03/4.3
                </h5>
            </div>
            <div class="centered-block">
                <h4> 
                    University of California, Berkeley
                </h4>
                <!-- <h5> -->
                <!--     Ph.D. in Electrical Engineering and Computer Sciences with a focus in  -->
                <!--     Control, Intelligent Systems, and Robotics, '???? -->
                <!-- </h5> -->
                <h5>
                    B.S. in  Electrical Engineering and Computer Sciences '16, Technical GPA: 3.93/4.0
                </h5>

                <b>Awards & Honors: </b>
		<br>
		Excellent Reviewer for the Journal of Guidance, Control, and Dynamics (2022)
                <br>
                <a href="https://www.ml.cmu.edu/news/news-archive/2016-2020/2018/may/machine-learning-ta-awards-2018.html">
                    Machine Learning Department Teaching Assistant Award (2018)
                </a>
                <br>
                Outstanding Course Development and Teaching Award  (2016)
                <br>
                UC Berkeley EECS Honors Degree Member (2015-2016)
                <br>
                Eta Kappa Nu EECS Honor Society (2014)
                <br>
                Edward Kraft Award for Freshmen (2013)
                <br>
                <br>
                <b>Interests: </b>
                <br>
                I like to travel and learn to make good food.
                <br>
                <br>
                <b>Some courses I've taken: </b> 
                <br>
                <b> Machine Learning / AI: </b>
                <br>
                Advanced Introduction to Machine Learning
                <br>
                Statistical Machine Learning
                <br>
                Deep Reinforcement Learning
                <br> 
                Statistical Techniques for Robotics
                <br> 
                Machine Learning for Large Datasets
                <br>
                Computer Vision
                <br>
                Artificial Intelligence
                <br>
                <br>
                <b>Probability & Statistics: </b> 
                <br>
                Intermediate Statistics
                <br>
                Probability and Random Processes
                <br>
                Concepts of Probability
                <br>
                Concepts of Statistics
                <br>
                <br>
                <b>Optimization: </b> 
                <br> 
                Convex Optimization 
                <br>
                Convex Optimization and Approximation
                <br>
                Optimization Models in Engineering
                <br>
                Math Methods for Optimization
                <br>
                <br>
                <b>Control theory: </b> 
                <br>
                Linear Systems Theory 
                <br>
                Nonlinear Systems
                <br>
            </div>
        </div>
    </section>
