
<!-- <b>Some courses I've taken: </b>  -->
<!-- <br> -->
<!-- <b> CMU </b> -->
<!-- <br> -->
<!-- Advanced Introduction to Machine Learning -->
<!-- <br> -->
<!-- Statistical Machine Learning -->
<!-- <br> -->
<!-- Deep Reinforcement Learning -->
<!-- <br>  -->
<!-- Machine Learning for Large Datasets -->
<!-- <br>  -->
<!-- Intermediate Statistics -->
<!-- <br> -->
<!-- Convex Optimization  -->
<!-- <br> -->
<!-- <b> Berkeley </b> -->
<!-- <br>  -->
<!-- Linear Systems Theory (grad) -->
<!-- <br>  -->
<!-- Convex Optimization (grad) -->
<!-- <br> -->
<!-- Optimization for Large-Scale Data Analysis (grad) -->
<!-- <br> -->
<!-- Machine Learning -->
<!-- <br> -->
<!-- Databases -->
<!-- <br> -->
<!-- Convex Optimization (undergrad) -->
<!-- <br> -->
<!-- Math Methods for Optimization -->
<!-- <br> -->
<!-- Probability and Random Processes -->
<!-- <br> -->
<!-- Randomized Algorithm -->
<!-- <br> -->
<!-- <br> -->
<b>Interests: </b>
<br>
I like to travel and learn to make good food.
<br>
