<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#publication">Publication</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#teaching">Teaching</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                    <div class="intro-heading">
                        <!-- <table> -->
                            <!-- <tr> -->
                                <!-- <th> -->
                                <!--     <img src="img/jshih.png" alt="photo" width="195px"> -->
                                <!-- </th> -->
                                <!-- <th> -->
                                    I completed my PhD in EECS at UC
                                    Berkeley.
                                    I was part of the <a
                                        href="http://bair.berkeley.edu/">Berkeley
                                        AI Research Lab</a>.
                                    I received my M.S. in Machine Learning from <a
                                        href="http://www.cmu.edu/">Carnegie
                                        Mellon University</a> and B.S. in EECS from UC Berkeley.
                                    <br>
                                    <br>
                                    In the past, I've worked on multi-agent
                                    collision avoidance, learning from demonstration, human
                                    behavior learning, optimal control, hybrid
                                    systems, and hierarchical planning in the CMU
                                    Machine Learning Department and the Berkeley AI Research Lab.
                                    <br>
                            <!-- </th> -->
                            <!-- </tr> -->
                        </table>
                    </div>

            </div>
        </div>
    </header>
<!--
        {% for page in site.pages %}
          {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
        {% endfor %}
 -->

