<!-- Services Section -->
    <section id="publication">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Publication</h2>
                </div>
            </div>
            <div class="row centered-block-publication">
                    <!-- </p> -->
                    <h4 class="publication-heading">
                    Conference
                    </h4>
                    <h5 class="publication-heading">
                        <b>Jennifer C. Shih</b> et al.
                        Learning-based Initialization Strategies for Safety of
                        Multi-Vehicle Systems, American Control Conference, June 2022
                    </h5>
                    <h5 class="publication-heading">
                        <b>Jennifer C. Shih</b> et al.
                        Reachability-based Safe Planning for Multi-vehicle
                        Systems with Multiple Targets, American Control
                        Conference, May 2021
                    </h5>
                    <h5 class="publication-heading">
                        <b>Jennifer C. Shih</b> et al.
                        A Framework for Online Updates to Safe Sets for Uncertain Dynamics,
                        IEEE/RSJ International Conference on Intelligent Robots
                        and Systems, Oct 2020 
                    </h5>
                    <h5 class="publication-heading">
                        <b>Jennifer C. Shih</b>, Predicting
                        Stochastic Human Forward Reachable Sets Based on Learned Human
                        Behavior, American Control Conference, July 2019
                    </h5>
                    <h5 class="publication-heading">
                        Aparna Dhinakaran*, Mo Chen*, Glen Chou, <b>Jennifer C.
                            Shih</b>, et al., A Hybrid Framework for Multi-Vehicle Collision Avoidance,
                        56th IEEE Conference on Decision and Control, Dec 2017 
                    </h5>
                    <h5 class="publication-heading">
                        Mo Chen*, <b>Jennifer C. Shih*</b>, et al., Multi-Vehicle Collision Avoidance via Hamilton-Jacobi Reachability and Mixed Integer Programming,
                        55th IEEE Conference on Decision and Control, Dec 2016 
                    </h5>

                    <b>(* Equal contribution)</b>

            </div>
        </div>
    </section>
