<!-- Services Section -->
    <section id="teaching">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Teaching</h2>
                </div>
            </div>
            <div class="row text-center">
                <h5 class="publication-heading">
                    UC Berkeley CS100/200 Principles and Techniques of Data
                    Science
                </h5>
                <h6>
                    <a href="">Fall, Spring 2020: Head Content TA</a>
                </h6>
                <h5 class="publication-heading">
                    UC Berkeley CS189/289A Introduction to Machine Learning
                </h5>
                <h6>
                    <a href="">Fall 2019: Teaching Assistant</a>
                </h6>
                <h5 class="publication-heading">
                    Carnegie Mellon University Introduction to Machine Learning
                </h5>
                <h6>
                    <a href="">Spring 2018: Teaching Assistant</a>
                </h6>
                <h5 class="publication-heading">
                    UC Berkeley EE16A Designing Information Devices and Systems I
                </h5>
                <h6>
                    <a href="http://inst.eecs.berkeley.edu/~ee16a/sp16/">Spring
                        2016: Content TA</a>,
                    <a href="http://inst.eecs.berkeley.edu/~ee16a/fa15/">Fall 2015: Discussion TA</a>
                </h6>
                <h5 class="publication-heading">
                    UC Berkeley CS61B Data Structures and Advanced Programming
                </h5>
                <h6>
                    <a href="http://www-inst.eecs.berkeley.edu/~cs61b/fa13/">Fall 2013: Discussion & Lab TA</a>
                </h6> 
            </div>
        </div>
    </section>
